.footer{
    padding: 10px;
    text-align: center;
}
.clasredes{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.logfot{
    width: 50px;
    height: 50px;
}
@media (max-width: 768px){
    .footer{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }
    .clasredes{
        display: flex;
        align-items: center;
        width: 250px;
        flex-wrap: wrap;
    }
    .fica{
        display: none;
    }

}
