.sh1{
	color: blue;
}
.sp{
	background-color: blue;
	color: white;
}
.sdestacado{
	color: #D4A017;
}
#side{
	background-color: #D4A017;
}
.sejemplo{
	color: brown;
	background-color: greenyellow;
}
.sh2{
	color: #D4A017;
}
